$navbar-color: #367bb4;
$status-normal: #35c319;
$status-elevated: #FFDD00;
$status-hazardous: #CC2200;
$secondary-bg: #c27213;
$secondary-bg-alpha: rgba(194,114,19, 0.7);
$tertiary-bg: rgb(164,187,214);

$white: #fff;
$gray-med: #999;
$black: #000;
