<div class="stripe concerned">
  <div class="container">
    
    <div class="row">
      <div class="col col-xs-12">
        <h2>Why Should I Be Concerned?</h2>
        
        <div>
          <p>
            Environmental studies show airborne Petcoke causes air quality issues that affect health and well being. According to the U.S. Environmental Protection Agency's pamphlet 
            <a href='http://www3.epa.gov/airnow/particle/pm-color.pdf'>
              Particle Polution and Your Health
            </a>
          </p>
        
          <blockquote cite="http://www3.epa.gov/airnow/particle/pm-color.pdf">
            Small particles less than 10 micrometers in diameter pose the greatest problems, because they can get deep into your lungs, and some may even get into the bloodstream. Exposure to such particles can affect both your lungs and heart.
          </blockquote>
          
          <blockquote cite="http://www3.epa.gov/airnow/particle/pm-color.pdf">
            Long term exposures, such as those experienced by people living for many years in areas with high particle levels, have been associated with problems such as reduced lung function and the development of chronic bronchitis &mdash; and even premature death&ellips;
          </blockquote>
        </div>
        
        <p><a href="http://www3.epa.gov/airnow/particle/pm-color.pdf">Click Here</a> to download Particle Pollution and Your Health.</p>
        <p><a href="http://www.epa.gov/petroleum-coke-chicago">Click Here</a> to learn more about the Environmental Protection Agency's response to Petcoke in Chicago.</p>
        <p><a href="http://www.epa.gov/petroleum-coke-chicago/kcbx-fenceline-air-monitoring-data">Click Here</a> to access the Environmental Protection Agency's Petcoke Monitoring Data.</p>

      </div>
    </div>
  </div>
</div>
