<div class="container what-is-petcoke">
  <div class="row">
    <div class="col col-xs-12">
      
      <h2>What is Petcoke?</h2>
      <ul>
        <li>Petcoke is short for Petroleum Coke.  It is a waste byproduct of the oil refining process that can be used in some manufacturing processes.</li>
        <li>Petcoke dust is extremely fine, and when it becomes airborne can cause long- and short-term damage to the heart and lungs.</li>
				<li>KCBX Terminals, Inc. maintains two massive, open-air stockpiles of petcoke on Chicago's Southeast side in the immediate vicinity of a residential neighborhood, exposing thousands to windblown particulate matter.</li>
      </ul>
    </div>
  </div>
</div>
