<div class="stripe what-is-petcoke">
  <div class="container">
    <div class="row">
      <div class="col col-xs-12">
        
        <h2>{{ t "what-is-petcoke.title" }}</h2>
        <ul>
          <li>{{ t "what-is-petcoke.points.definition" }}</li>
          <li>{{ t "what-is-petcoke.points.risk" }}</li>
  				<li>{{ t "what-is-petcoke.points.kcbx" }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
