<div class="stripe what-can-i-do">
  <div class="container">
    
    <div class="row">
      <div class="col col-xs-12">
        <h2>{{ t "what-can-i-do.title"}}</h2>
        
        <ul>
          <li>{{ t "what-can-i-do.activism" }}</li>
          <li>{{ t "what-can-i-do.share"}}</li>
          <li>{{ t "what-can-i-do.alderwoman" }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
