{{> exposurerisk}}
	<a href='/take-action' class='btn btn-primary action-button'>{{ t "index.take_action" }}</a>&nbsp;
	<a href='/subscribe' class="btn btn-primary action-button">{{ t "index.get_alerts" }}</a>
