<!DOCTYPE html>
<html>
  <head>
    <title>KCBX Wind Conditions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/parsleyjs/dist/parsley.min.js'></script>
    <script src='/js/js.js'></script>
  </head>
  <body class="{{bodyClass}}">
    <div class="container">

      {{{body}}}

      <footer id="footer">
        <hr>

        <div class="well">
          <p>
            A project of the Southeast Side Coalition to Ban Petcoke and the 
            <a target="_blank" href='http://opengovehacknight.org'>
              Open Government Hack Night
            </a>
          </p>
          <p>
            <a href='https://github.com/open-city/kcbx-petcoke' target="_blank">
              <span class="fa fa-github"></span> Pull Requests Welcome
            </a>
          </p>
        </div>
      </footer>
    </div><!-- .container -->
  </body>
</html>
