<!DOCTYPE html>
<html>
  <head>
    <title>KCBX Wind Conditions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/parsleyjs/dist/parsley.min.js'></script>
    <script src='/js/js.js'></script>
  </head>
  <body class="{{bodyClass}}">
    <div class="container">

      {{{body}}}

      <footer id="footer">
        <hr>

        <div class="well">
          <p>
            A project of the Southeast Side Coalition to Ban Petcoke and the
            <a target="_blank" href='http://chihacknight.org'>
              Chi Hack Night
            </a>.
          </p>

          <p>
            For questions or press inquiries, email <a href='mailto:obautista58@gmail.com?subject=petcokealerts.org'>Olga Bautista</a>.
          </p>

          <p>
            <a href='https://github.com/open-city/kcbx-petcoke' target="_blank">
              <span class="fa fa-github"></span> Pull Requests Welcome
            </a>
          </p>

        </div>

        <table class="footer-nav">

          <tr>

            <td><a href="/">Home</a></td>
            <td><a href="/subscribe">Subscribe to air quality alerts</a></td>
            <td><a href="/take-action">Take action</a></td>
            <td><a href="/subscribe#unsubscribe">Unsubscribe</a></td>

          </tr>

        </table>
      </footer>
    </div><!-- .container -->

  </body>
</html>
