.navbar-default {
  background-color: #367bb4;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
  border: none;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20; }
  .navbar-default a, .navbar-default a:visited {
    color: #fff; }
  .navbar-default a.navbar-brand {
    font-size: 22px;
    font-weight: lighter; }
  .navbar-default .language-selector {
    float: right;
    display: block;
    padding: 10px 15px; }

.all-content {
  border: 1px solid #fff;
  margin-top: 50px;
  position: relative; }

.current-condition {
  display: none; }

body.wind-level-0 .current-condition {
  background-color: #35c319; }

body.wind-level-1 .current-condition {
  background-color: #FFDD00; }

body.wind-level-2 .current-condition {
  background-color: #CC2200; }

#footer {
  background-color: #fff;
  border: none;
  margin: 0;
  position: relative;
  padding: 2em;
  top: -1px;
  z-index: 10; }

.banner-image {
  z-index: 1; }
  .banner-image img {
    max-width: 100%;
    border: 1px solid #fff; }

@media (min-width: 768px) {
  div.banner-image {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%; } }
body.home {
  text-align: center; }

.exposure-risk {
  background-color: white;
  padding: 2em 0;
  position: relative;
  z-index: 10; }

.exposure-risk .hero {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0; }

.exposure-risk .subtitle {
  font-size: 16px;
  font-weight: normal;
  margin-top: .3em;
  margin-bottom: 1em; }

.exposure-risk .wind-status {
  background-color: #35c319;
  color: #000;
  font-size: x-large;
  margin: .5em 1em;
  padding: .35em 0;
  text-transform: uppercase; }

.exposure-risk .wind-data {
  font-size: small; }

.exposure-risk .time-taken {
  font-size: x-small; }

.compass {
  display: block;
  height: 150px;
  margin: 1em auto;
  position: relative;
  width: 150px; }
  .compass .ring {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 100px;
    width: 100px;
    border: 6px solid #999;
    border-radius: 50%; }
  .compass .bearing-indicator {
    position: absolute;
    border-top: 30px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 90px solid transparent;
    height: 0;
    width: 0;
    left: 65px;
    top: 15px; }
  .compass .speed-indicator {
    font-size: 26px;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 45px;
    width: 100%; }
    .compass .speed-indicator .mph {
      display: block;
      font-size: 20px;
      position: relative;
      top: -10px; }

@media (min-width: 768px) {
  .exposure-risk {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%; }
    .exposure-risk .hero, .exposure-risk .subtitle {
      text-align: left;
      margin-left: 28px; }
    .exposure-risk .compass-wrap {
      width: 40%;
      float: right; }
    .exposure-risk .compass {
      width: 200px;
      height: 160px; }
      .exposure-risk .compass .ring {
        width: 150px;
        height: 150px; }
      .exposure-risk .compass .bearing-indicator {
        border-bottom-width: 140px;
        left: 90px; }
      .exposure-risk .compass .speed-indicator {
        font-size: 40px;
        top: 55px; }
        .exposure-risk .compass .speed-indicator .mph {
          font-size: 30px; } }
body.home.wind-level-1 .exposure-risk .wind-status {
  background-color: #FFDD00; }

body.home.wind-level-2 .exposure-risk .wind-status {
  background-color: #CC2200; }

.subscribe-block {
  background-color: #c27213;
  border-top: 1px solid transparent;
  color: #fff;
  position: relative;
  z-index: 10; }
  .subscribe-block form.sms-signup {
    max-width: 400px;
    margin: 0 auto; }
    .subscribe-block form.sms-signup input#phone_input {
      border: none;
      background-color: transparent;
      color: #fff;
      border-radius: 0;
      border-bottom: 1px solid #fff;
      box-shadow: none; }
    .subscribe-block form.sms-signup ::-webkit-input-placeholder {
      color: #eee; }
    .subscribe-block form.sms-signup :-moz-placeholder {
      /* older Firefox*/
      color: #eee; }
    .subscribe-block form.sms-signup ::-moz-placeholder {
      /* Firefox 19+ */
      color: #eee; }
    .subscribe-block form.sms-signup :-ms-input-placeholder {
      color: #eee; }
  .subscribe-block .subscription-info {
    font-size: .85em;
    margin-bottom: 20px; }
  .subscribe-block .unsubscribe {
    font-size: .85em; }
  .subscribe-block .what-is-this {
    text-align: left;
    padding-bottom: 2em; }

@media (min-width: 768px) {
  .subscribe-block {
    margin-top: 58%; } }
.what-is-petcoke {
  background-color: #fff;
  padding: 2em 1em;
  position: relative;
  text-align: left;
  z-index: 10; }
  .what-is-petcoke ul {
    padding-left: 1em; }

.concerned {
  background-color: #90bbd6;
  color: #fff;
  padding: 2em 1em;
  position: relative;
  text-align: left;
  z-index: 10; }
  .concerned blockquote {
    border-left: none;
    font-style: italic;
    margin-right: 4em; }

/*# sourceMappingURL=style.css.map */
