.subscribe-block {

  background-color: $secondary-bg;
  border-top: 1px solid transparent;
  color: $white;
  position: relative;
  z-index: 10;

  form.sms-signup {
    max-width: 400px;
    margin: 0 auto;
    
    input#phone_input {
      border: none;
      background-color: transparent;
      color: $white;
      border-radius: 0;
      border-bottom: 1px solid $white;
      box-shadow: none;
      
      
    }
    @include placeholder-color(#eee);
    
  }
  
  .subscription-info {
    font-size: .85em;
    margin-bottom: 20px;
  }
  
  .unsubscribe {
    font-size: .85em;
  }
  
  .what-is-this {
    text-align: left;
    padding-bottom: 2em;
  }
}
