@media (min-width: 768px) {
    .exposure-risk {
        
        .hero, .subtitle {
            text-align: left;
            margin-left: 28px;
        }
        
        .compass-wrap {
            width: 40%;
            float: right;
        }
        
        .compass {
            width: 200px;
            height: 200px;
            
            .ring {
              width:  150px;
              height: 150px;
            }
            
            .bearing-indicator {
              border-bottom-width: 140px;
              left: 90px;
            }
            
            .speed-indicator {
                font-size: 40px;
                top: 55px;
                
                .mph {
                    font-size: 30px;
                }
            }
        }
    }
    
}
