body.home {
	text-align: center;
}

.exposure-risk .hero {
  font-size: 24px;
  font-weight: normal;
	margin-bottom: 0;
  margin-top: 2em;
}

.exposure-risk .subtitle {
  font-size: 16px;
  font-weight: normal;
	margin-top: .3em;
  margin-bottom: 1em;
}

.exposure-risk .wind-status {
	background-color: $status-normal;
	color: $black;
	font-size: x-large;
	margin: .5em 1em;
	padding: .35em 0;
  text-transform: uppercase;
}

.exposure-risk .wind-data {
	font-size: small;
}

.exposure-risk .time-taken {
	font-size: x-small;
}

.compass {
	display: block;
	height: 150px;
	margin: 2em auto;
	position: relative;
	width: 150px;
	
	.ring {
		position: absolute;
		top: 25px;
		left: 25px;
		height: 100px;
		width: 100px;
		border: 6px solid $gray-med;
	  border-radius: 50%;		
	}
  
  .bearing-indicator {
		position: absolute;
		border-top:    30px solid $black;
		border-left:   10px solid transparent;
		border-right:  10px solid transparent;
		border-bottom: 90px solid transparent;
		height: 0;
		width: 0;
		left: 65px;
		top: 15px;
	}

	.speed-indicator {
		font-size: 26px;
		left: 0;
		margin: 0;
		position: absolute;
		text-align: center;
		top: 45px;
		width: 100%;
		
		.mph {
			display: block;
			font-size: 20px;
			position: relative;
			top: -10px;
		}
	}

}
